.page-container {
  background-image: url("../../public/notepad.png");
  background-size: cover;
  background-position: initial;
  min-height: 100vh;

  .home-button {
    font-family: Copperplate, Papyrus, fantasy;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: blue;
  }

  .home-button:hover {
    text-decoration: underline;
  }
}

.text-hidden {
  height: 0;
  overflow: hidden;
}

.page-title {
  padding-top: 230px;
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 70px;
  font-weight: 700;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.page-header {
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 20px;
  padding-top: 30px;
  font-weight: 300;
  align-items: center;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.page-content {
  font-family: Copperplate, Papyrus, fantasy;
  padding-left: 735px;
  padding-top: 10px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 30px;
  color: blue;

  .activity-selection:hover {
    text-decoration: underline;
  }
}

.question-count {
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 55px;
  padding-left: 350px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
}

.question-content {
  font-family: Copperplate, Papyrus, fantasy;
  padding-top: 10px;
  display: flex;
  font-size: 30px;
  justify-content: center;
}

.question-selection {
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 2000px;
  padding-top: 50px;

  .button-correct {
    color: green;
  }
  .button-incorrect {
    color: red;
  }
  .button-correct:hover {
    text-decoration: underline;
  }
  .button-incorrect:hover {
    text-decoration: underline;
  }
}

.round-count {
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 200px;
  font-weight: 700;
  padding-top: 300px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.result-content {
  font-family: Copperplate, Papyrus, fantasy;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  .results-round {
    font-weight: 700;
    padding-bottom: 50px;
  }

  .results-info {
    display: flex;
    flex-direction: row;

    .results-question {
      padding-top: 10px;
      padding-right: 250px;
      padding-bottom: 50px;
    }
    .results-result {
      padding-top: 10px;
      padding-left: 250px;
      padding-bottom: 50px;
      
    }
    .result-correct {
      color: green;
    }
    .result-incorrect {
      color: red;
    }
  }
}
